h1 {
    color: #fff;
}
h4 {
    color: #fff;
}
p {
    color: #fff;
}

.mainWrapper {
    width: 100%;
    height: 100vh; 
    background: url(../img/christ.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLink {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    transition: 100ms;
}
.footerLink:hover {
    color: #F1A208;
    transition: 100ms;
}


